body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.selected {
    font-weight: bold;
}

.navbar {
    background-color: transparent;
    height: 15vh;
    box-shadow: none;
}

.navbar #logo {
    max-height: 100%;
    padding: 20px 0px 0px 30px;
}

.navbar .links {
    padding-top: 35px;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar .link {
    transition: width .3s
}

.navbar .whiteLink::after {
    content: '';
    display: block;
    margin-top: -13px;
    width: 0;
    height: 5px;
    background: #ffffff;
    transition: width .3s;
}

.navbar .whiteLink:hover::after {
    width: 100%;
}

.navbar .goldLink::after {
    content: '';
    display: block;
    margin-top: -13px;
    width: 0;
    height: 5px;
    background: #fcb914;
    transition: width .3s;
}

.navbar .goldLink:hover::after {
    width: 100%;
}

.navbar .selectedWhiteLink::after {
    content: '';
    display: block;
    margin-top: -13px;
    width: 1;
    height: 5px;
    background: #ffffff;
}

.navbar .selectedGoldLink::after {
    content: '';
    display: block;
    margin-top: -13px;
    width: 1;
    height: 5px;
    background: #fcb914;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fcb914;
    opacity: 0.2;
    z-index: -1;
}

.background {
    position: initial !important;
}

.background video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.welcome-message {
    color: white;
    margin: 100px 0px 0px 70px;
    font-size: -webkit-xxx-large;
}

.welcome-message .people-ticker {
    display: inline-block;
    padding: 0px 4px 0px 2px;
}

.ripple {
    position: absolute;
    width: 100vmax;
    height: 100vmax;
    top: -50vmax;
    left: -50vmax;
    border-radius: 50%;
}

.pad {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.info-page {
    display: none;
    min-width: 90vw;
    margin-top: 5vh !important;
    color: #ffffff;
}

.faq-page {
    display: none;
}

.schedule-page {
    display: none;
}

.sponsors-page {
    display: none;
}

.attend-page {
    display: none;
}

.attend-page #registrationForm {
    width: 100%;
    min-height: 85vh;
}
