body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.selected {
    font-weight: bold;
}

#canvas {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.navbar {
    position: relative;
    background-color: transparent;
    height: 15vh;
    box-shadow: none;
    z-index: 3;
}

.navbar .mobile {
    overflow-x: scroll;
    overflow-y: hidden;
}

.navbar #logo {
    height: 100px;
    padding: 20px 0px 0px 30px;
}

.navbar .links {
    padding-top: 35px;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar .link {
    transition: width .3s
}

.navbar .whiteLink::after {
    content: '';
    display: block;
    margin-top: -13px;
    width: 0;
    height: 5px;
    background: #ffffff;
    transition: width .3s;
}

.navbar .whiteLink:hover::after {
    width: 100%;
}

.navbar .goldLink::after {
    content: '';
    display: block;
    margin-top: -13px;
    width: 0;
    height: 5px;
    background: #fcb914;
    transition: width .3s;
}

.navbar .goldLink:hover::after {
    width: 100%;
}

.navbar .selectedWhiteLink::after {
    content: '';
    display: block;
    margin-top: -13px;
    width: 1;
    height: 5px;
    background: #ffffff;
}

.navbar .selectedGoldLink::after {
    content: '';
    display: block;
    margin-top: -13px;
    width: 1;
    height: 5px;
    background: #fcb914;
}

.page {
    z-index: 1;
}

.overlay {
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fcb914;
    opacity: 0.2;
    z-index: -1;
}

.background {
    position: initial !important;
}

.background video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.welcome-message {
    color: white;
    margin: 100px 0px 0px 70px;
    font-size: 45px;
}

.welcome-message .people-ticker {
    display: inline-block;
    padding: 0px 4px 0px 2px;
}

.ripple {
    position: relative;
    -webkit-transform: scale(100);
    -moz-transform: scale(100);
    -o-transform: scale(100);
    -ms-transform: scale(100);
    transform: scale(100);
    transition: all 600ms ease;
    z-index: 2;
}

.ripple2 {
    position: relative;
    top: 0px !important;
    left: 0px !important;
    border-radius: 0% !important;
    height: 100vh !important;
    width: 100vw !important;
    transition: all 2400ms ease-out !important;
    z-index: 2;
}

.info-page {
    display: none;
    min-width: 90vw;
    margin-top: 5vh !important;
    color: #ffffff;
}

.info-page a {
    color: #ffffff;
}

.faq-page {
    display: none;
    margin-top: 5vh !important;
}

.faq-page b {
    color: #fcb914;
}

.schedule-page {
    display: none;
    color: #ffffff;
}

.schedule-page h4 {
    text-align: center;
}

.schedule-page td:nth-child(even) {
    background-color: #ffffff;
    color: black;
    border-color: #fcb914;
    border-style: solid;
}

.schedule-page td {
    padding: 8px;
    max-width: 200px;
}

.schedule-page td:nth-child(odd) {
    max-width: 100%;
    text-align: right;
}

.sponsors-page {
    display: none;
}

.sponsors-page .sponsor-contact {
    position: fixed;
    left: 50%;
    bottom: 5vh;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.sponsors-page .sponsor-contact a {
    width: 270px;
}

.sponsors-page .row {
    margin-bottom: 30px !important;
}

.attend-page {
    display: none;
}
